---
interface Props {
  title: string;
  body: string;
  href: string;
  src: string;
}

const { href, title, body, src } = Astro.props;
---

<div class="relative max-w-mlg bg-white shadow-md rounded-lg overflow-hidden transition duration-300 transform hover:scale-105">
  <a href={href} class="block">
    <img src={src} alt={title} class="h-48 w-full object-cover" />
    <div class="p-4">
      <h3 class="text-xl font-semibold mb-2">{title}</h3>

      <!-- Cuerpo de la tarjeta con límite de líneas -->
      <p class="text-gray-700 line-clamp-3">
        {body}
      </p>

      <!-- Enlace "Ver más" si el contenido se recorta -->
      <a href={href} class="text-blue-500 hover:underline mt-2 block">
        Ver más...
      </a>
    </div>
  </a>
</div>
