<script>
    document.getElementById("boton-cerrar").addEventListener("click", ocultar);
  
    // Función para ocultar la barra lateral
    function ocultar() {
      document.getElementById("side-bar").style.display = "none";
    }
  
    // Filtros del sidebar
    const filtros = {
      "btn-platos-principales": "platos_principales_visitas",
      "btn-desayunos": "desayunos_visitas",
      "btn-postres": "postres_visitas",
      "btn-bebidas": "bebidas_visitas",
      "btn-entradas": "entradas_visitas",
    };
  
    // Event listener para los botones del sidebar
    Object.keys(filtros).forEach((btnId) => {
      document.getElementById(btnId).addEventListener("click", async (event) => {
        event.preventDefault(); // Prevenir el comportamiento por defecto del botón
        const categoria = filtros[btnId]; // Obtener la categoría correspondiente
        console.log(categoria.split("_"));
  
        // Enviar la solicitud para incrementar las visitas
        try {
          await fetch(`http://localhost:3000/api/incrementar-visitas`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ categoria }), // Enviar la categoría al servidor
          });
          console.log(`Visita registrada para la categoría: ${categoria}`);
        } catch (error) {
          console.error("Error al incrementar las visitas:", error);
        }
  
    
        // Enviar la solicitud al servidor para buscar recetas
        try {
            const response = await fetch(`http://localhost:3000/api/buscar?query=${encodeURIComponent(categoria.split("_")[0])}`);
            const resultados = await response.json();
  
          if (response.ok) {
            mostrarResultados(resultados); // Mostrar los resultados de la búsqueda
          } else {
            console.error("Error al realizar la búsqueda:", resultados.error);
          }
        } catch (error) {
          console.error("Error en la solicitud de búsqueda:", error);
        }
      });
    });
  
    // Función para mostrar los resultados
    function mostrarResultados(resultados) {
      document.getElementById("recetas-populares").style.display = "none";
      document.getElementById("buscador_container").style.display = "block";
      const contenedor = document.getElementById("resultados-recetas");
      contenedor.innerHTML = ""; // Limpiar los resultados anteriores
  
      if (resultados.length === 0) {
        contenedor.innerHTML = "<p>No se encontraron recetas.</p>";
        return setTimeout(() => {
          document.getElementById("recetas-populares").style.display = "grid";
          document.getElementById("buscador_container").style.display = "none";
        }, 2000);
      }
  
      // Mostrar las recetas en el contenedor
      resultados.forEach((receta) => {
        const card = `
          <div class="relative max-w-mlg bg-white shadow-md rounded-lg overflow-hidden transition duration-300 transform hover:scale-105">
            <a href="/recetas/${receta.ID_RECETA}" class="block">
              <img src="/src/${receta.IMAGEN_RECETA}" alt="${receta.NOMBRE_RECETA}" class="h-48 w-full object-cover" />
            </a>
            <div class="p-4">
              <h3 class="text-xl font-semibold mb-2">${receta.NOMBRE_RECETA}</h3>
              <p class="text-gray-700 line-clamp-3">${receta.Descripcion_Receta}</p>
              <div class="flex justify-between mt-2">
                <a href="/recetas/${receta.ID_RECETA}" class="text-blue-500 hover:underline mt-2 block">Ver más...</a>
                <p class="text-right">&#9733; ${receta.VALORACION_RECETA == null ? "--" : receta.VALORACION_RECETA}</p>
              </div>
            </div>
          </div>
        `;
        contenedor.insertAdjacentHTML("beforeend", card);
      });
    }
  </script>
  
  
<!-- Barra lateral desplegable -->
<div id="side-bar" class="fixed z-10 inset-y-0 left-0 w-80 bg-gray-800 text-white py-4 px-6 hidden ">
    <!-- Botón de cerrar -->
    <div class="flex justify-end">
        <button id="boton-cerrar" class="text-gray-300 focus:outline-none">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    <!-- Contenido de la barra lateral -->
     <!-- Filtros de recetas -->
    <ul class="mt-6">
        <form id="sideBar-form">
            <li class="mb-4">
                <button id="btn-platos-principales" class="block text-gray-300 hover:text-white">Platos Principales</button>
            </li>
            <li class="mb-4">
                <button id="btn-desayunos" class="block text-gray-300 hover:text-white">Desayunos</button>
            </li>
            <li class="mb-4">
                <button id="btn-postres" class="block text-gray-300 hover:text-white">Postres</button>
            </li>
            <li class="mb-4">
                <button id="btn-bebidas" class="block text-gray-300 hover:text-white">Bebidas</button>
            </li>
            <li class="mb-4">
                <button id="btn-entradas" class="block text-gray-300 hover:text-white">Entradas</button>
            </li> 
        </form>
    </ul>
    
</div>